.show {
    
    background-color:#eef6f7;
    height:900px;
    width:400px;
    float:left;

}
.show1 {
    
    background-color:#eef6f7;

}
.show2 {
    
    background-color:#f8f2f2;

}
.show3 {
    
    background-color:#eff4f7;

}
.show4 {
    
    background-color:#f5edf3;

}
